@import "tailwindcss";

body {
  /* font-family: "Righteous", serif; */
  font-family: Poppins;
}
/* Add this to index.css or tailwind.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
